.o-onlyoffice-models-list {
  display: flex;
  flex-direction: column;
  row-gap: 5px;

  .o-onlyoffice-model {
    .o-onlyoffice-model-button {
      padding: 5px 10px 5px 20px;
      width: 100%;
      text-align: start;
      padding-left: 20px;
      font-weight: bold;
      text-transform: capitalize;
      text-wrap: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      position: relative;
      border: none;
      background-color: inherit;
    }

    .o-onlyoffice-model-button:hover {
      background-color: #cbcbcb;
    }

    .o-onlyoffice-model-button::before {
      content: "";
      position: absolute;
      left: 0;
      height: 100%;
      width: 20px;
      top: 0;
      background-image: url("/onlyoffice_odoo_templates/static/svg/onlyoffice_dropdown.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 6px 6px;
    }

    .o-onlyoffice-model-button_open {
      background-color: #cbcbcb;
    }

    .o-onlyoffice-model-button_open::before {
      transform: rotate(90deg);
    }
  }

  .o-onlyoffice-fields-list {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  .o-onlyoffice-field {
    padding: 5px 10px;
    border: 1px #c0c0c0 solid;
    text-align: center;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
  }

  .o-onlyoffice-field:hover {
    background-color: #e0e0e0;
  }

  .o-onlyoffice-field:active {
    background-color: #cbcbcb;
  }
}

.o-onlyoffice-models-list_open + .o-onlyoffice-field {
  margin-top: 20px;
}

.o-onlyoffice-fields-separator {
  width: 100%;
  height: 2px;
  margin: 10px 0;
  flex-shrink: 0;
  color: #c0c0c0;
}